.container {
    max-width: 320px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    @media #{$min768} {
        max-width: 720px;
        padding-left: 26px;
        padding-right: 26px;
    }
    @media #{$min1024} {
        max-width: 1024px;
        padding-right: 30px;
        padding-left: 30px;
    }
}

.wrapper {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    &__header-footer {
        background-color: $main-color;
        flex: 0 0 auto;
    }
    &__root {
        flex: 1 0 auto;
    }
    &__search-bar {
        background-color: $search-bar-color;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.23);
        margin-bottom: 14px;
        @media #{$min768} {
            margin-bottom: 32px;
        }
    }
    &__search-bar--margin0 {
        margin: 0 !important;
    }
    &__main-content {
        background-color: $main-content-color;
    }
}
