<div class="error-page container">
    <p class="error-page__text">Sorry. We couldn't find any film by your query: "{{this}}".<br> But we tried :(</p>
    <img class="error-page__image" src="https://thumbs.gfycat.com/KindTerrificIggypops-size_restricted.gif" alt="travolta's-misunderstanding">
</div>