<section class="films-library">
    <div class="film-controls libray-main__shadow" id="film-controls">
        <button class="film-controls__btn" id="js-btn-watched" data-status="">Watch</button>
        <button class="film-controls__btn" id="js-btn-queue" data-status="">Queue</button>
    </div>
    <div class="container">
        <section class="films-library__gallery-list container">
            {{#each this}}
            <div class="part-of-results-item films-library__gallery-item">
                <a class="films-library__link-box" href="">
                    <img class="films-library__gallery-images" {{#if poster_path}}
                        src="https://image.tmdb.org/t/p/w500{{poster_path}}" {{/if}} data-path="film/{{id}}" alt="">
                    <p class="films-library__gallery-rating">{{vote_average}}</p>
                    <p class="films-library__gallery-name">{{original_title}}</p>
                </a>
            </div>
            {{/each}}
        </section>
    </div>
</section>