<section class="search-bar">
  <div class="container-main">
    <form id="search-form" class="">
      <button action="submit"><i class="fa fa-search"></i></button>
      <input class="input" name="query" autocomplete="off" placeholder="Write movie name and click Enter" />
    </form>
  </div>
</section>

{{!-- films-library --}}
<article class="list films-library__galler" id="js-film-page-content-container">
  {{!-- Контейнер в который будут рендериться фильмы --}}
</article>