<section class="search-bar">
  <div class="container-main">
    <form id="search-form">
      <button action="submit"><i class="fa fa-search"></i></button>
      <input class="input" name="query" autocomplete="off" placeholder="Write movie name and click Enter" />
    </form>
  </div>
</section>

{{!-- films-library --}}
<ul class="list films-library__gallery">
  {{!-- Контейнер в который будут рендериться фильмы --}}
</ul>

{{!-- controlers --}}
<div class="controls">
  <button class="controls-btn btn-prev" data-action="decrement">Prev</button>
  <span class="page-number">1</span>
  <button class="controls-btn btn-next" data-action="increment">Next</button>
</div>
