<section class="search-bar">
  <div class="container-main">
    <form id="search-form" class="">
      <button action="submit"><i class="fa fa-search"></i></button>
      <input class="input" name="query" autocomplete="off" placeholder="Write movie name and click Enter" />
    </form>
  </div>
</section>


<p>There is no films added yet. Try to find</p>
<img class="empty-query" src="https://static.dribbble.com/users/1693462/screenshots/3504905/icon-404.gif" alt="empty-box">


{{!-- https://vectorified.com/images/empty-file-icon-31.png --}}