<div class="controls" id="pagination">
    <button class="controls-btn btn-prev " data-action="decrement">
        Prev
    </button>
    <span class="page-number">{{page}}</span>
    <button class="controls-btn btn-next " data-action="increment">
        Next
    </button>
</div>