<div class="film-list__pagination container" id="pagination">
    <button class="film-list__pagination-element film-list__pagination-element--btn" data-action="decrement">
        Prev
    </button>
    <span class="film-list__pagination-element film-list__pagination-element--text" id="js-pagination-count">{{page}}</span>
    <button class="film-list__pagination-element film-list__pagination-element--btn" data-action="increment">
        Next
    </button>
</div>