<section class="wrapper__search-bar">
    <div class="search-bar container" id="search-bar">
        <form id="search-form" class="search-bar__form">
            <button action="submit" class="search-bar__button"><i class="fa fa-search"></i></button>
            <input class="search-bar__input" name="query" autocomplete="off" placeholder="Write movie name and click Enter" />
        </form>
    </div>
</section>