<section class="search-bar" id="search-bar">
    <div class="container-main">
        <form id="search-form" class="">
            <button action="submit"><i class="fa fa-search"></i></button>
            <input class="input" name="query" autocomplete="off" placeholder="Write movie name and click Enter" />
        </form>
    </div>
</section>