$main-color: #77c1bb;
$text-hover-color: #372c48;
$text-main-color: #4d6671;

$trans: all 0.3s ease-in-out;
$roboto: Roboto, sans-serif;

$min1024: screen and (min-width: 1024px);
$min768: screen and (min-width: 768px);
$mx767: screen and (max-width: 767px);
