.library-details__btn[data-action='add']{
    background-color: transparent;
}

.library-details__btn[data-action='del']{
    background-color: #77c1bb;
}

.library-details__btn {
    color: #fff;
    border-radius: 30px;
    line-height: 25px;
    background-color: transparent;
    transition: all 200ms;
    border: 2px solid #ffffff;
    &[data-action='delete'] {
        background-color: #77c1bb;
        border: 2px solid #77c1bb;
        
    }
    &[data-action='add']:hover {
        color: #fff;
        background-color: #77c1bb;
        border: 2px solid #77c1bb;
    }
}