html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
        url('../fonts/roboto-v20-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v20-latin-500.woff') format('woff2'),
        url('../fonts/roboto-v20-latin-500.woff2') format('woff');
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.background-main {
    // background-image: url('../images/img/body.jpg');
    // background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: -0.02em;
    color: #555252;
    background: #f7f9fb;
}

.root {
    min-height: calc(100vh - 151px);
}
a {
    display: block;
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    min-width: 320px;
    min-height: 100%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}
.error-page__text {
    font-size: 17px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
}

.error-page__image {
    display: block;
    margin: 0 auto;
    height: 300px;
}
.page-not-found_img {
    display: block;
    margin: 0 auto;
    width: 550px;
}

