.film-controls {
  width: 100%;
  margin: 0px 0px 14px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 0px 14px 0px;
  transition: all 300ms ease-in-out;

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 40px;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    padding: 0px;
    border: none;
    background-color: #fff;
    border-bottom: 4px solid #9c99a5;
    cursor: pointer;
    transition: all 300ms ease-in-out;
  }
}

.film-controls__btn:hover,
.film-controls__btn:focus {
  border: none;
  color: #ffffff;
  background-color: #77c1bb;
}

.films-library__link-box {
  position: relative;
}

.films-library__gallery {
  &-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: inherit;
    justify-content: space-evenly;
  }
  &-item {
    width: 300px;
  }
  &-images {
    background-image: url('../images/img/video.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    ;
    height: 156px;
    border-radius: 10px;
    top: 0;
    margin: 0 auto;
    position: relative;
  }

  &-rating {
    font-size: 12px;
    line-height: 11px;
    font-weight: 500;
    position: absolute;
    top: 15px;

    right: 15px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 16px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    margin: 0 auto;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.5);
  }

  &-name {
    position: absolute;
    font-size: 13px;
    line-height: 15px;
    bottom: 14px;
    left: 15px;
    z-index: 1;
    color: #fff;
    margin: 0 auto;
  }
}
