.library-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &__about {
        margin: 0 auto;
        padding: 0px 0px 0px 25px;
    }

    &__images {
        padding: 22px 0px 24px;
        width: 274px;
        height: 400px;
    }

    &__title {
        margin: 0px 0px 16px 0px;
        font-size: 16px;
        line-height: 19px;
    }

    &__subtitle {
        margin: 0px 0px 8px 0px;
        padding: 3px 0px 0px 5px;
        font-size: 14px;
        line-height: 25px;
        color: #7c7c7c;
    }

    &__discription {
        margin-bottom: 26px;
        font-size: 14px;
        line-height: 18px;
        color: #7c7c7c;
    }

    &__addTOwached,
    &__addTOqueue {
        display: none;
    }
}

.library-details__title--last-child {
    margin-bottom: 22px;
}

.library-details__subtitle:nth-last-child(2n) {
    width: 263px;
    padding: 4px 0px 4px 11px;
    background-color: #addad6;
    display: inline-block;
}

.library-details__subtitle--last-child {
    margin: 0px 0px 38px;
}

.image-container {
    position: relative;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 22px;
    left: 0;
    min-width: 274px;
    min-height: 354px;
    background-color: rgba(255, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s linear;
}

.overlay:hover {
    opacity: 1;
}

.search-icon {
    font-size: 275px;
    color: rgba(255, 255, 255, 0.3);
}
