@media (min-width: 767px) {
    /* ########## HEDER */
    .library__nav-list {
        display: flex;
        justify-content: space-around;
        font-size: 14px;
        line-height: 12px;
        width: 250px;
        font-weight: 500;
        color: #372c48;
        padding: 0px 20px 0px 0px;
    }

    .library__nav-list {
        display: flex;
        justify-content: space-around;
        font-size: 14px;
        line-height: 12px;
        width: 250px;
        font-weight: 500;
        color: #372c48;
        padding: 0px 20px 0px 0px;
    }

    .library__nav-title {
        display: inline-block;
    }

    .library__footer-toUP {
        display: none;
    }

    /* ### */

    .container {
        width: 767px;
        margin: 0 auto;
    }

    /* #################### LIBERAY QUEUE */
    .films-library__gallery {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: inherit;
        justify-content: space-evenly;
    }

    .films-library__gallery-item {
        background-color: olive;
        width: 344px;
        height: 180px;
        margin: 0px 0px 12px 0px;
        border-radius: 10px;
        position: relative;
    }

    .films-library__gallery-images {
        width: 344px;
        height: 180px;
        border-radius: 10px;
    }

    .films-library__gallery-rating {
        font-size: 15px;
        line-height: 14px;
        width: 40px;
        height: 20px;
    }

    .films-library__gallery-name {
        font-size: 14px;
        line-height: 15px;
    }

    /* #################### LIBERAY DETAILS  */
    .library-details__about {
        max-width: 340px;
    }

    .library-details__about {
        margin: 0;
        padding: 0px 0px 0px 25px;
    }

    .library-details__images {
        width: 356px;
        height: 526px;
    }

    .library-details__about {
        padding: 0px 0px 140px 25px;
    }

    .library-details__addTOwached {
        display: inline-block;
        font-size: 14px;
        line-height: 17px;
        padding: 0px 40px 0px 20px;
        position: relative;
    }
    .library-details__addTOqueue {
        position: relative;
        display: inline-block;
        font-size: 14px;
        line-height: 17px;
    }

    .library-details__btn {
        border: none;
        background-color: transparent;
        cursor: pointer;
        outline: none;
    }

    .library-details__addTOwached::before {
        content: '';
        position: absolute;
        left: -4px;
        top: 2px;
        width: 30px;
        height: 30px;
        background-image: url('../images/svg/video_icon.png');
        background-repeat: no-repeat;
        background-size: 20px;
    }

    .library-details__addTOqueue::before {
        content: '';
        position: absolute;
        left: -25px;
        top: -3px;
        width: 30px;
        height: 30px;
        background-image: url('../images/svg/calendar_plus.png');
        background-repeat: no-repeat;
        background-size: 20px;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 1023px;
        margin: 0 auto;
    }

    .films-library__gallery-item {
        background-color: olive;
        width: 468px;
        height: 244px;
        margin: 0px 0px 12px 0px;
        border-radius: 10px;
        position: relative;
    }

    .films-library__gallery-images {
        width: 468px;
        height: 244px;
        border-radius: 10px;
    }

    .film-controls {
        margin: 0px 0px 30px 0px;
    }

    .films-library__gallery-rating {
        font-size: 20px;
        line-height: 19px;
        width: 50px;
        height: 30px;
    }

    .films-library__gallery-name {
        font-size: 20px;
        line-height: 24px;
    }
    /* №№№№№№№№№№№№№№ LEBRARY DETAILS */
    .library-details__images {
        width: 426px;
        height: 633px;
    }
    .library-details__about {
        padding: 0px 0px 222px 25px;
        max-width: 450px;
    }
    .library-details__subtitle:nth-last-child(2n) {
        padding: 4px 176px 4px 9px;
    }
    .library-details__subtitle--mod {
        margin: 0px 0px 0px 30px;
    }
    .library-details__subtitle--mod-1 {
        margin: 0px 0px 0px 44px;
    }
    .library-details__subtitle--mod-2 {
        margin: 0px 0px 0px 68px;
    }
}
/* ##################################### */

@media screen and (min-width: 768px) {
    .container {
        padding: 30px 20px;
        width: 748px;
    }

    .films-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .image-container {
        width: 345px;
    }

    .controls-btn,
    .page-number {
        font-size: 17px;
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .films-list__item:not(:nth-last-child(-n + 2)) {
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 1004px;
    }

    .films-list__item:not(:nth-last-child(-n + 2)) {
        margin-bottom: 20px;
    }

    .image-container {
        width: 467px;
    }
}
