.search-bar {
    min-height: 66px;
    background-color: #f3f6f6;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.23);
}

.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 768px;
    min-width: 320px;
    margin: 0 auto;
    text-align: center;
}

#search-form {
    border-bottom: 2px solid black;
    width: 290px;
    margin-top: 20px;
    margin-bottom: 20px;

    & > input {
        border: none;
        width: 255px;
        outline: 0;
        background-color: transparent;
    }

    & > button {
        position: relative;
        border: none;
        background: none;
        bottom: 1px;
        outline: 0;
    }
}
